<!--2.0 工作请示单 Mobile detail-->
<div id="cloundOfficeApp">
    
    <div class="ly-header">
    <a class="btn-back" @click="cancelStep" href="javascript:;"></a>
    <h2>{{titleLabel}}</h2>
    <a class="r2" v-show="step == 4" @click="submitReminder" href="javascript:;">提交</a>
    <!-- <a class="btn-msg" href="javascript:;"></a> -->
    <a v-show="step == 3" class="r" @click="setFixSendPerson" href="javascript:;" >确定</a>
</div>

<!-- 显示详情 -->
    <template v-if="step==0">
<div class="scroll-bd">

    <div class="receipt-relate">
        <div style="position: relative; padding: 6px 7px 0;">
            <div class="avatar">
                <!--用户头像组件-->
                <ximg @click="lookPerson(sPersonCode)" :xsrc = "getAvatarSrc(sPersonCode)"></ximg>
                <!--/用户头像组件-->
            </div>
            <p class="name">{{ sPersonName }}</p>
            <!-- 单据状态 -->
            <receipt-status
                :enable = "Enable"
                :viewtype = "ViewType"
                :flowstate = "FlowState"
                :approvalstate = "ApprovalState">
            </receipt-status>
            <!-- /单据状态 -->


    
            <!-- <div class="type type-job">
            <h2>{{title}}</h2>
            <span class="t" v-show="urgent">紧急</span>
            <p class="d"><ins></ins>2015-05-16 8:00 至 2015-05-16 12:00</p>
        </div> -->
        <p class="type_row"><span class="lab">请示内容：</span>{{title}}</p>
    </div>
</div>
<div class="receipt">
    <div class="receipt-header">
        <div class="receipt-reason">
            <p class="lab">请示详情：</p>
            <h3>{{content}}</h3>
            

    
                    <!-- 录音 -->
                <audio-player
                :allowedit= "false"
                :status = "stop"
                :items= "uploadSoundArr">
                </audio-player>
                <!-- /录音 -->

                <!-- 关联单据 -->
                <bill-link
                :edite = "false"
                :show = "allowLinkBill"
                :data = "billArr">
                </bill-link>
                <!-- /关联单据 -->

                <!-- 图片 -->
                <photo-slide
                    :resize="true"
                    :allowedit="false"
                    :items="uploadPicArr">
                </photo-slide>
                <!-- /图片 -->
                

                <!-- 数据统计列表 -->
                <div class="statistics" v-show="showStatic && ViewType == 2" :data-action="closeStatic ? 'active' : ''">
                    <!-- 数据统计按钮 -->
                    <a class="btn-st" @click="toggleStatic" href="javascript:;">{{staticList.title}}</a>
                    <!-- /数据统计按钮 -->
                    <div class="statistics-content ">
                        <table class="s-table">
                            <colgroup>
                                <col width="50px">
                                <col width="50px">
                                <col width="50px">
                                <col width="50px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td class="t2" v-for="row in staticList.nameX">
                                        {{row}}
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="t1" v-for="row in staticList.column">
                                        <!-- <div v-show="!row[0]" class="bar" :style="{height: row}"></div> -->
                                        <div v-if="row[0]" class="bar" :style="{height: row[0]}"></div>
                                        <div v-if="row[1]" class="bar2" :style="{height: row[1]}"></div>
                                    </td>
                                </tr>
                                <tr v-for="row in staticList.content">
                                    <td>{{row.nameY}}</td>
                                    <td class="t3" v-for="cell in row.data">{{cell}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="no-data hide">暂无统计数据</div>
                    </div>
                </div>
                <!-- /数据统计列表 -->
            </div>

        </div>

        <div class="receipt-content">
            <!-- 审批记录 -->
            <record-items
                :viewtype = 'ViewType'
                :items = 'approvalRecord'
                :flowstate = "FlowState">
            </record-items>
            <!-- /审批记录 -->

            <div class="receipt-add" v-if="fixSendPersonArr.length>0 || ViewType == 1">
                <h3 v-if="!(fixSendPersonArr.length == 0 && FlowState > 1)">抄送对象:</h3>
                <div class="avatar" v-for="row in fixSendPersonArr">
                    <ximg @click="lookPerson(row.code)" :xsrc="getAvatarSrc(row.code)"></ximg>
                    <span class="name">{{ row.name }}</span>
                </div>

                <template v-if="FlowState == 1 && ViewType == 1 ">
                <a class="fn-btn-add" href="javascript:;" @click="addFixSendPerson"></a>
                <a v-show="fixSendPersonArr.length != 0" class="fn-btn-minus" href="javascript:;" @click="gotoDelSendPerson"></a>
                </template>

            </div>
        </div>

     
    </div>

</div>
   <!-- 详情操作 -->
        <detail-operation
            :enable="Enable"
            :viewtype="ViewType"
            :flowstate="FlowState"
            @modify='receiptModify'
            @approval='gotoApproval'>
        </detail-operation>
        <!-- /详情操作 -->
</template>
<!-- /显示详情 -->

<!-- 审批 -->
<approval-component
    :step = 'step'
    :sremark.sync = 'sRemark'
    :isautoflow = 'IsAutoFLow'
    :approversendperson = 'approverSendPerson'
    :approvernextperson = 'approverNextPerson'
    :approveruploadsound = 'approverUploadSound'
    @submit='doApproval'
    @uploadsound = 'uploadSound'
    @addapproversend="addApproverSend"
    @addapprovernext="addApproverNext">
</approval-component>
<!-- /审批 -->

<!-- 删除抄送 -->
<delfixsend-component
    :step="step"
    :delsendpersonarr = 'delSendPersonArr'>
</delfixsend-component>
<!-- /删除抄送 -->

<!-- 催审 -->
<reminder-component
    :step = 'step'
    :personid = 'sReminderId'
    :personname = 'sReminderName'
    :remindertype.sync = 'LSendType'
    :remindercontent.sync = 'SContent'>
</reminder-component>
<!-- /催审 -->

<!-- 图片组件 -->
<photoswipe-gallery></photoswipe-gallery>
<!-- /图片组件 -->

</div>
<script type="text/javascript">$(document).ready(function() {
    moment.locale('zh-cn');
    Global.isDetail = true;
});

var cloundOfficeApp;
var confirmPop = {};
function initConfirmPop(callback){
    confirmPop.callback = callback;
}
var APP = {
    init : function(obj){
        var receiptData = {};
        if(obj.data){
            receiptData = obj.data;
        }
        cloundOfficeApp = new Vue({
            el:"#cloundOfficeApp",
            data:{
                titleArr : ['工作请示单', '同意', '拒绝', '编辑抄送人', '催审'],
                step : 0,
                Enable : receiptData.Enable, // 是否可编辑
                ViewType : receiptData.ViewType || 0,
                FlowState : receiptData.FlowState,
                IsAutoFLow :  receiptData.IsAutoFLow || 0, // 是否自由流程， 1是
                ApprovalState : receiptData.ApprovalState,

                sPersonCode : receiptData.sPersonCode || 0,
                sPersonName : receiptData.sPersonName || '',
                sRemark : '',

                SAddress : "" ,   //     语音文件地址
                sReminderId : 0, // 催审人员ID
                sReminderName : '', // 催审人员名字
                LSendType : 0, // 催审类别 0 短信 1 IM
                SContent : '', // 催审内容

                urgent : receiptData.urgent || 0,                               // 是否紧急
                title : receiptData.title || "",                                    // 主题
                content : receiptData.content || [],                                  // 内容
                uploadSoundArr : receiptData.uploadSoundArr || [],                        // 录音上传地址
                uploadPicArr : receiptData.uploadPicArr || [],                          // 图片上传地址
                approvalRecord : receiptData.approvalRecord || [],                        // 审批记录
                fixSendPersonArr : receiptData.fixSendPersonArr || [],                      // 申请时抄送人
                fixNextPersonArr : receiptData.fixNextPersonArr || [],                      // 申请时下一个审批人
                delSendPersonArr : [],     // 删除时抄送人
                approverSendPerson : receiptData.approverSendPerson || [],                    // 审批时，抄送人
                approverNextPerson : receiptData.approverNextPerson || [],                    // 审批时，加审的审批人
                approverUploadSound : receiptData.approverUploadSound || [],                    // 审批时，上传录音
                showStatic : false, //显示统计列表
                massegeType : 'warn',                                   //消息提示类型
                massegeText : '警告内容警告内容',                       //消息提示内容
                checkContent : '<p class="mb10 tc">确认退出当前页面</p>',       //消息确认内容
                checkTitle : '',                                                //消息确认标题
                checkConfirmTxt : '确定'                                           //消息确认右下按钮名称
            },

            computed : {
                titleLabel : function(){
                    return this.titleArr[this.step];
                }
            },
            methods : { checkConfirm : function(){
                    confirmPop.callback && confirmPop.callback();
            }},
            mixins : [detailVueMixin]
        });
    }
}


APP.init({
    data : initData
})</script>