@charset "UTF-8";

.layout-bd{
	position:relative;
    width: 100%;
    min-height: 100%;
    padding: 0 0 35px;
}
.layout-fd{
	position:relative;
    margin-top: -35px;
    z-index:0;
}
.datePlugin {
    display: block;
    width: 100%;
    height: 150px;
    margin: auto;
    /* border: solid 1px #ff0000; */
}


.ui-radio.checked{
    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 16px;
        margin: auto 0;
        width: 21px;
        height: 21px;
        @extend %m-icon2;
        background-size: 100px;
        background-position: -30px -170px;
    }
}

.ui-radio.disabled{
	&:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 16px;
        margin: auto 0;
        width: 21px;
        height: 21px;
        @extend %m-icon2;
        background-size: 100px;
        background-position: -60px -170px;
    }
}